*{
	font-family: Arial,Georgia,sansserif;
	color:#660066;
}
#weatherPTag{
	color:red;
}
#container{
	width:24%;
	background-color: none;
	position:fixed;
	left:38%;
}
legend{
	color:blue;
	font-size:20pt;
}

ul{
	list-style-position:outside;
	border-color:brown;
	border-width:2px;
}
span{
	color:red;
}
li{
	position: relative;
	left: -5%;
}
fieldset{
	border-color:brown;
	border-width:2px;
}
input{
	border:1px solid black;
	background-color:red;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}